/* Navbar styles */
.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo h2 {
    color: #fff;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #555;
  }
  